extends layout 

block content 
    form(id='Form' class='container vertical' action="/edit/" + person.id, method="POST")
        div(class='container item horizontal wide')
            div(class='item') Username: 
            input(id='Username' class='item' type="text" name="username" value=person.username)
        div(class='container item horizontal wide')
            div(class='item') Password: 
            input(id='Password' class='item' type="password" name="password")
        div(class='container item horizontal wide')
            div(class='item') Age: 
            input(class='item' type="number" name="age" value=person.age min='1' max='120')
        div(class='container item horizontal wide')    
            div(class='item') What is your flavor of hot chocolate? 
            select(class='item' name="hotChocolateFlavor") 
                option(value="Mint", selected=person.answers[0] === "Mint") Mint 
                option(value="Caramel" selected=person.answers[0] === "Caramel") Caramel 
                option(value="Hazelnut" selected=person.answers[0] === "Hazelnut") Hazelnut 
                option(value="Regular" selected=person.answers[0] === "Regular") Regular 
        div(class='container item horizontal wide')
            div(class='item') If Santa had another reindeer, what would it's name be? 
            select(class='item' name="reindeerName")
                option(value="Bob" selected=person.answers[1] === "Bob") Bob 
                option(value="Sally" selected=person.answers[1] === "Sally") Sally 
                option(value="Suzette" selected=person.answers[1] === "Suzette") Suzette 
                option(value="Harry" selected=person.answers[1] === "Harry") Harry
        div(class='container item horizontal wide')
            div(class='item') What is your favorite activity for the winter? 
            select(class='item' name="winterActivity")
                option(value="Hibernate" selected=person.answers[2] === "Hiberante") Hibernate 
                option(value="Fireplace" selected=person.answers[2] === "Fireplace") Cozying by the fire 
                option(value="Snowmen" selected=person.answers[2] === "Snowmen") Make snowmen 
                option(value="Baking" selected=person.answers[2] === "Baking") Bake cookies
        div(class='container item vertical wide')
            input(id='SubmitButton' class='item button' type="submit" value="Update")
            div(id="Error" class='item redText')
    script(src='../editRegex.js')